/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Monoton&family=Montserrat:wght@300;500&family=Poppins:wght@300&family=Roboto+Condensed&family=Roboto:wght@100;300&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Herr+Von+Muellerhoff&family=Monoton&family=Montserrat:wght@300;500&family=Poppins:wght@300&family=Roboto+Condensed&family=Roboto:wght@100;300&family=Shadows+Into+Light&display=swap');

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f6f7ff;
  color: #021b79;
}

h1 {
  font-size: 25px;
  font-weight: 700;
}

.ivan-kelava_logo {
  font-family: 'Herr Von Muellerhoff', cursive;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 3px;
  margin: 0;
  padding: 0;
  color: #f5edfd;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;

  display: flex;
  width: 100%;
  height: 70px;
  padding: 10px;
  margin-bottom: 100px;
  background: #0575e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #021b79,
    #0575e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #021b79,
    #0575e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.page-header_item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
}

.page-header_item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

a {
  color: #021b79;
  text-decoration: none;
  font-weight: bold;
}

/* a:hover {
  color: white;
  text-decoration: underline;
  transform: scale(1.2);
  transition: ease-in-out 1s;
} */

.a-button:hover {
  color: #021b79;
  text-decoration: none;
  border: 1px #f7f5fe;
  border-radius: 4px;
  background-color: #fcfaff;
  padding: 4px;
  margin: -4px;
  transition: 0.3s ease;
}

a:focus {
  color: white;
  text-decoration: none;
}

.cv-button {
  font-family: inherit;
  display: inline-block;
  background-color: #5c1da6;
  color: white;
  text-decoration: none;
  padding: 5px;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-radius: 3px;
  height: 35px;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

button {
  border: none;
  font-family: inherit;
  display: inline-block;
  background-color: #021b79;
  color: white;
  text-decoration: none;
  text-align: center;
  align-items: center;
  padding: 0px;
  border-radius: 3px;
  height: 35px;
  width: 60px;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

button:active {
  background-color: #5c1da6;
  -webkit-transform: translateY(2px);
  -ms-transform: translateY(2px);
  transform: translateY(2px);
}

button:hover,
.cv-button:hover {
  cursor: pointer;
  opacity: 0.77;
}

button:focus {
  cursor: pointer;
  opacity: 0.77;
}

.contact_button {
  display: inline-block;
  margin-top: 30px;
}

.contact-card {
  margin: 0 auto;
  height: 448px;
  width: 645px;
  background: transparent;
  box-shadow: 0.5px 0.5px 10px rgb(22, 2, 94);
  border-radius: 0.5rem;
  padding: 25px;
}

.contact-header {
  text-align: center;
}

.contact-body {
  display: flex;
  justify-content: space-evenly;
}

.text-div,
.button-section {
  display: flex;
  justify-content: center;
}

.contact_footer {
  margin-top: 100px;
}

.profile-text {
  padding-top: 40px;
}

.profile_portrait {
  width: 250px;
  height: 250px;
  float: left;
  margin-right: 40px;
  border-radius: 50%;
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.19));
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  height: 250px;
  padding-top: 100px;
}

.social-media img {
  margin: 5px;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
  height: 250px;
}

.code-link {
  display: block;
  box-sizing: border-box;
}

.about-me_div {
  text-align: center;
}

.profile,
h1,
p,
a {
  text-align: center;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 15px 1fr 15px 1fr 15px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  width: 92.5%;
  margin: 0 auto;
}

.grid_item {
  background: transparent;
  padding: 10px;
  margin: 0;
  text-align: center;
  border-radius: 0.35rem;
  box-shadow: 0.5px 0.5px 10px rgb(22, 2, 94);
}

.grid_item:hover {
  transform: scale(1.05);
  transition: 0.5s ease;
}

.grid_links {
  display: inline-block;
}

.work {
  text-align: center;
}

table {
  margin: 0 auto;
}

.about-list {
  list-style-type: none;
}

table {
  padding-top: 20px;
}

.svg {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

/* Boat_animation */

@-webkit-keyframes color-change {
  0% {
    fill: #e8e0fd;
  }

  25% {
    fill: #9f7cf9;
  }

  50% {
    fill: #7145e2;
  }

  75% {
    fill: #5c1da6;
  }

  100% {
    fill: #2f038e;
  }
}

@keyframes color-change {
  0% {
    fill: #e8e0fd;
  }

  25% {
    fill: #9f7cf9;
  }

  50% {
    fill: #7145e2;
  }

  75% {
    fill: #5c1da6;
  }

  100% {
    fill: #2f038e;
  }
}

@-webkit-keyframes boat-movement {
  from {
    -webkit-transform: translate(-202.345px, -187.561px);
    transform: translate(-202.345px, -187.561px);
  }

  to {
    -webkit-transform: translate(-202.345px, -167.561px);
    transform: translate(-202.345px, -167.561px);
  }
}

@keyframes boat-movement {
  from {
    -webkit-transform: translate(-202.345px, -187.561px);
    transform: translate(-202.345px, -187.561px);
  }

  to {
    -webkit-transform: translate(-202.345px, -167.561px);
    transform: translate(-202.345px, -167.561px);
  }
}

@-webkit-keyframes pillar-movement {
  from {
    -webkit-transform: translate(584.82569px, 129.22117px);
    transform: translate(584.82569px, 129.22117px);
  }

  to {
    -webkit-transform: translate(584.82569px, 109.22117px);
    transform: translate(584.82569px, 109.22117px);
  }
}

@keyframes pillar-movement {
  from {
    -webkit-transform: translate(584.82569px, 129.22117px);
    transform: translate(584.82569px, 129.22117px);
  }

  to {
    -webkit-transform: translate(584.82569px, 109.22117px);
    transform: translate(584.82569px, 109.22117px);
  }
}

.pillar {
  -webkit-animation: 5s pillar-movement infinite alternate linear;
  animation: 5s pillar-movement infinite alternate linear;
}

.boat,
.flag,
.fence {
  -webkit-animation: 5s boat-movement infinite alternate linear;
  animation: 5s boat-movement infinite alternate linear;
}

.circle {
  -webkit-animation: 4s color-change infinite alternate linear;
  animation: 4s color-change infinite alternate linear;
}

/* Footer icon animations */

.twitter-icon:hover,
.github-icon:hover,
.linkedin-icon:hover {
  transform: scale(1.32);
  -webkit-animation: 2s ease;
  animation: 2s ease;
}

/* All_Media */

@media all and (max-width: 400px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  h1 {
    font-size: 22px;
  }

  svg {
    width: 395.30964px;
    height: 124.87772px;
  }
}

@media all and (min-width: 400px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .grid_item: last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }

  svg {
    width: 595.30964px;
    height: 324.87772px;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid_item: last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}

/* Modals */

.modal_container_1,
.modal_container_2,
.modal_container_3 {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  transition: ease-in-out 0.33s;
}

.modal_active {
  opacity: 1;
  pointer-events: auto;
}

.modal_1,
.modal_2,
.modal_3 {
  background-color: whitesmoke;
  max-width: 100%;
  width: 60%;
  height: 90%;
  border-radius: 5px;
  overflow: scroll;
  position: relative;
}

.modal_heading,
.modal_list,
.p_modal {
  text-align: center;
}

.modal_section {
  display: flex;
  padding: 15px;
  opacity: 0.7;
}

.modal_text,
.modal_list {
  width: 50%;
}

.modal_list li {
  list-style: none;
}

.modal_buttons {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  padding-left: 15px;
}

.content_buttons {
  margin-top: 10px;
}

.content_buttons a {
  margin-left: 15px;
}

.modal_close_button {
  margin-right: 15px;
}

.close {
  padding: 0px;
}

.a-button-modal:hover {
  color: rgb(56, 101, 249);
  text-decoration: underline;
  transition: 0.3s ease;
}

.x_modal {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  color: whitesmoke;
  cursor: pointer;
}

/* MODAL PICS*/

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #58adf8;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev:hover,
.next:hover {
  transform: scale(1.3);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #58adf8;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
