:root {
  --bgn-color: #e0dfdf;
  --header-color: #cbcbcb;
  --links-texts-color: #632f51;
  --btn-main: #5c1da6;
  --btn-hover: #7145e2;
  --btn-text: white;
  --svgsun-1: #e8e0fd;
  --svgsun-2: #9f7cf9;
  --svgsun-3: #7145e2;
  --svgsun-4: #5c1da6;
  --svgsun-5: #2f038e;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--bgn-color);
}

h1 {
  font-size: 25px;
  font-weight: 700;
}

.ivan-kelava_logo {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 3px;
  padding-bottom: 10px;
  color: var(--links-texts-color);
}

.page-header {
  display: flex;
  width: 100%;
  height: 70px;
  padding: 10px;
  margin-bottom: 100px;
  background-color: var(--header-color);
}

.page-header_item {
  flex: 0 1 200px;
}

.page-header_item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

a {
  color: var(--links-texts-color);
  text-decoration: none;
  font-weight: bold;
}

a:visited {
  color: var(--links-texts-color);
}

a:hover,
a:focus {
  color: var(--btn-text);
  text-decoration: none;
}

a:active {
  color: var(--links-texts-color);
}

button {
  border: none;
  font-family: inherit;
  display: inline-block;
  background-color: var(--btn-main);
  color: var(--btn-text);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  height: 35px;
  transition: 0.5s ease;
}

button:active {
  background-color: var(--btn-main);
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}

button:hover,
button:focus {
  cursor: pointer;
  opacity: 0.77;
  background-color: var(--btn-hover);
}

.download-cv_link {
  color: var(--btn-text);
}

.contact_button {
  display: inline-block;
  margin-top: 30px;
}

.contact_info {
  text-align: center;
}

.profile-text {
  padding-top: 40px;
}

.profile_portrait {
  width: 250px;
  height: 250px;
  float: left;
  margin-right: 40px;
  border-radius: 50%;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 250px;
  padding-top: 100px;
}

.social-media img {
  margin: 5px;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
  height: 250px;
}

.code-link {
  display: block;
}

.about-me_div {
  text-align: center;
}

.profile h1,
p,
a {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.grid_item {
  background-color: var(--header-color);
  padding: 10px;
  margin: 0;
  text-align: center;
}

.grid_links {
  display: inline-block;
}

.work {
  text-align: center;
}

table {
  margin: 0 auto;
  padding-top: 20px;
}

.about-list {
  list-style-type: none;
}

.svg {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

/* Boat_animation */

@keyframes color-change {
  0% {
    fill: var(--svgsun-1);
  }

  25% {
    fill: var(--svgsun-2);
  }

  50% {
    fill: var(--svgsun-3);
  }

  75% {
    fill: var(--svgsun-4);
  }

  100% {
    fill: var(--svgsun-5);
  }
}

@keyframes boat-movement {
  from {
    transform: translate(-202.345px, -187.561px);
  }

  to {
    transform: translate(-202.345px, -167.561px);
  }
}

@keyframes pillar-movement {
  from {
    transform: translate(584.82569px, 129.22117px);
  }

  to {
    transform: translate(584.82569px, 109.22117px);
  }
}

.pillar {
  animation: 5s pillar-movement infinite alternate linear;
}

.boat,
.flag,
.fence {
  animation: 5s boat-movement infinite alternate linear;
}

.circle {
  animation: 4s color-change infinite alternate linear;
}

/* Footer icon animations */

.twitter-icon:hover {
  width: 40px;
  animation: 2s ease;
}

.github-icon:hover {
  width: 40px;
  transform: rotate(-25deg);
  animation: 2s ease;
}

.linkedin-icon:hover {
  width: 40px;
  transform: rotate(25deg);
  animation: 2s ease;
}

/* All_Media */

@media all and (max-width: 400px) {
  .grid {
    grid-template-columns: 1fr;
  }

  h1 {
    font-size: 22px;
  }
}

@media all and (min-width: 400px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .grid_item: last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid_item: last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}
