@use './colors';

.about_heading {
  text-transform: uppercase;
  font-size: 80px;
  align-items: center;
  text-align: center;
}

.profile {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.profile-text {
  max-width: 500px;
}

.profile_portrait {
  width: 350px;
  height: 350px;
  border-radius: 10%;
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.19));
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.5) 0px 6px 6px;
}

span {
  color: colors.$darkOrange;
}

ul li img {
  width: 50px;
  height: 50px;
}

.skills {
  margin-top: 30px;
  p {
    text-align: center;
    margin-bottom: 30px;
  }
}

.icon_list {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  img {
    margin-left: 20px;
  }
}
