$white: #f6f7ff;
$darkBlue: #021b79;
$mediumBlue: #0164c7;
$lightBlue: #0575e6;
$headerGradient: linear-gradient(to right, #021b79, #0575e6);
$cardGradient: linear-gradient(to left, #021b79, #0575e6);
