$white: #f6f7ff;
$darkGreen: #14272f;
$darkBlue: #14272f;
$mediumBlue: #0164c7;
$lightBlue: #0575e6;
$headerGradient: linear-gradient(to right, #021b79, #0575e6);
$cardGradient: linear-gradient(to right, #ffc837, #ff8008);
$darkOrange: #fe8109;
$lightOrange: #ffc837;
$mediumGreen: #203a43;
$lightGreen: #2c5364;
