@use './colors';

.contact_card {
  width: 700px;
  height: 500px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  box-shadow: 0.5px 0.5px 10px colors.$darkBlue;
}

.first_card,
.second_card {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first_card {
  position: relative;
  background-color: transparent;
  h3 {
    position: absolute;
    top: 15px;
  }
}

.contact_input {
  font: inherit;
  height: 35px;
  width: 80%;
  margin-top: 20px;
  font-weight: 500;
  font-size: 12px;
  opacity: 90%;
  background-color: transparent;

  transition: all 0.3s;
  padding: 7px;
  outline: 0;
  border: none;
  border-bottom: 2px solid colors.$darkOrange;
}

.submit_button {
  margin-top: 50px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  padding: 0;
  background-color: colors.$darkOrange;
  color: colors.$white;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
    transform: scale(1.06);
    transition: ease-in-out 0.25s;
  }
}

.text {
  height: 100px;
  resize: none;
}

//SECOND PART OF CARD

.second_card {
  background: colors.$cardGradient;
  color: colors.$darkBlue;
  position: relative;
  h3 {
    position: absolute;
    top: 15px;
  }
  ul {
    list-style: none;
  }
  li {
    padding: 10px;
  }
  span {
    padding-right: 10px;
  }
  a {
    color: colors.$darkBlue;
    &:hover {
      text-decoration: underline;
      color: colors.$white;
    }
  }
}
