@use './colors';

.logo h1 {
  font-family: 'Herr Von Muellerhoff', cursive;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 3px;
  margin: 0;
  padding: 0;
  color: colors.$white;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 8vh;
  margin-bottom: 100px;
  background: colors.$lightBlue; /* fallback for old browsers */
  background: colors.$headerGradient; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navigation-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  li {
    list-style: none;
  }
}

.a-button:hover {
  color: colors.$darkBlue;
  text-decoration: none;
  border: 1px colors.$white;
  border-radius: 4px;
  background-color: colors.$white;
  padding: 4px;
  margin: -4px;
  transition: 0.3s ease;
}

.burger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  div {
    width: 45px;
    height: 4px;
    background-color: colors.$white;
    margin: 3px;
  }
}

.burger {
  display: none;
}
