@use './colors';

.logo h1 {
  font-family: 'Herr Von Muellerhoff', cursive;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 3px;
  margin: 0;
  padding: 0;
  padding-left: 15px;
  color: colors.$white;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 8vh;
  margin-bottom: 100px;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navigation-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  li {
    list-style: none;
  }
}

.a-button {
  display: inline-block;
  position: relative;
}

.a-button::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: colors.$darkOrange;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.a-button:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.burger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  div {
    width: 45px;
    height: 4px;
    background-color: colors.$white;
    margin: 3px;
  }
}

.burger {
  display: none;
}
