@use './colors';

.hello {
  text-transform: uppercase;
  font-size: 150px;
  margin-left: 50px;
  margin-bottom: 70px;
}

.orange {
  color: colors.$darkOrange;
}

.profile_text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.code_link {
  margin-top: 20px;
  border: 2px solid colors.$darkOrange;
  padding: 5px 10px;
  width: 70px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
}

.code {
  transform: rotate(20deg);
  &:hover {
    transform: rotate(-5deg);
  }
}

.code_link:hover {
  background-color: colors.$darkOrange;
  transition: 0.33s;
}

.main_section {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  .cv {
    margin-right: 150px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
  }
}

.download {
  width: 110px;
  margin-bottom: 10px;
}

.arrow_1 {
  height: 30px;
  width: 50px;
}

@media (max-width: 800px) {
  .main_section {
    display: flex;
    flex-direction: column;
    width: 100%;
    h1 {
      text-align: center;
      font-size: 75px;
      margin: 0 auto;
    }
    .cv {
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 30px;
    }
  }

  .profile_text {
    width: 50%;
    height: 300px;
    margin: 0 auto;
    margin-top: 20px;
    p {
      padding-bottom: 10px;
    }
  }
}
