@use './colors';

.hello {
  text-transform: uppercase;
  font-size: 150px;
  margin-left: 50px;
}

.orange {
  color: colors.$darkOrange;
}

.profile_text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.code_link {
  margin-top: 20px;
  border: 2px solid colors.$darkOrange;
  padding: 5px 10px;
  width: 70px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  transform: rotate(20deg);
}

.code_link:hover {
  background-color: colors.$darkOrange;
  transition: 0.33s;
  transform: rotate(-20deg);
}

.main_section {
  display: flex;
  justify-content: space-between;
  .cv {
    margin-right: 150px;
    p {
      margin-bottom: 20px;
    }
  }
}

.download {
  transform: rotate(20deg);
}
