@use './colors';
@use './header' as header;
@use './home' as home;
@use './footer' as footer;
@use './contact' as contact;
@use './about' as about;
@use './work/modals' as modals;
@use './work/work' as work;

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Monoton&family=Montserrat:wght@300;500&family=Poppins:wght@300&family=Roboto+Condensed&family=Roboto:wght@100;300&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Herr+Von+Muellerhoff&family=Monoton&family=Montserrat:wght@300;500&family=Poppins:wght@300&family=Roboto+Condensed&family=Roboto:wght@100;300&family=Shadows+Into+Light&display=swap');

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  background-color: colors.$white;
  color: colors.$white;
  h1 {
    font-size: 25px;
    font-weight: 700;
  }
}

a {
  color: colors.$white;
  text-decoration: none;
  font-weight: bold;
}

button {
  border: none;
  font-family: inherit;
  display: inline-block;
  background-color: colors.$darkBlue;
  color: colors.$white;
  text-decoration: none;
  text-align: center;
  align-items: center;
  padding: 0px;
  border-radius: 3px;
  height: 35px;
  width: 60px;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  &:hover {
    cursor: pointer;
    opacity: 0.77;
  }
}

/* Media queries */

@media screen and (max-width: 1064px) {
  .navigation-list {
    width: 60%;
  }
}

@media screen and (max-width: 710px) {
  body {
    overflow-x: hidden;
  }
  .navigation-list {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: colors.$lightGreen;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    transform: translateX(100%);

    transition: transform 0.5s ease-in;
  }

  .burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 15px;
    div {
      width: 35px;
      height: 4px;
      background-color: colors.$white;
      margin: 3px;
    }
  }

  .nav-active {
    transform: translateX(0%);
  }
}
